<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to the {{title}}!
  </h1>
</div>
<h2>{{name}} details:</h2>
<ul>
  <li>Descriptio: {{descriptio}}</li>
  <li>Price: {{price  | currency:'USD':true}}</li>
  <li> Categorys: 
    <ul>
      <li *ngFor="let category of categorys">
        {{category.name}}
      </li>
    </ul>
  </li>
  <li>isAvailable: {{isAvailable}}</li>
<button (click)="buyEvent($event)"> Buy Me!</button>
<div>
  <h3>Calling the service to discplay data:</h3>
  <ul>
    <li *ngFor="let product of products">
      {{product.name}}
    </li>
  </ul>
</div>
<app-cart></app-cart>

